
/* Clearing Floats */
.themezee-addons-clearfix:before, 
.themezee-addons-clearfix:after {  
	content: " ";
	display: table;  
}  

.themezee-addons-clearfix:after {  
	clear: both;
}  

.themezee-addons-clearfix {
    *zoom: 1; /* For IE 6/7 only */  
}

/* Layout */
#themezee-addons-overview {
	max-width: 1100px;
}

.themezee-addons-tab-content {
	margin-top: 28px;
}

#themezee-addon-header {
	font-size: 28px;
}

.themezee-addons-intro {
	margin: 12px 0 16px;
	font-size: 19px;
    font-weight: 400;
    line-height: 1.6em;
	color: #777;
}

/* Add-on Overview List */
#themezee-addons-list {
	margin-top: 30px;
}

#themezee-addons-list dl {
	float: left;
	margin: 0;
	padding: 0 20px 20px 0;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#themezee-addons-list dt {
	font-size: 14px;
    line-height: 1.4em;
    margin: 0;
    padding: 8px 12px;
	background: #fff;
	color: #222;
	border: 1px solid #e5e5e5;
	border-bottom: 1px solid #eee;
}

#themezee-addons-list dt h4 {
	display: inline;
	padding: 0;
	margin: 0;
}

#themezee-addons-list dt span {
	float: right;
	color: #888;
	font-weight: bold;
	font-size: 13px;
}

#themezee-addons-list dd {
	margin: 0;
	padding: 12px;
	font-size: 14px;
    line-height: 1.4em;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-top: none;
}

#themezee-addons-list dd p {
	margin: 0 0 12px;
}

/* Media Query | <1200px */
@media only screen and (max-width: 1200px) {

}
/* Media Query | <980px */
@media only screen and (max-width: 980px) {

}
/* Media Query | <782px */
@media only screen and (max-width: 782px) {


}
/* Media Query | <600px */
@media only screen and (max-width: 600px) {

}